.red-light-parent{
    background-color: lightcoral;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: background-color 1s ease;
}

.red-light-child{
    background-color: red;
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    border: 10px solid black;
}

.red-light-parent:hover{
    background-color: red;
}

.orange-light-parent{
    background-color: lightsalmon;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: background-color 1s ease;
}

.orange-light-child{
    background-color: rgb(233, 84, 25);
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    border: 10px solid black;
}

.orange-light-parent:hover{
    background-color: rgb(233, 84, 25);
}

.green-light-parent{
    background-color: lightgreen;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: background-color 1s ease;
}

.green-light-child{
    background-color: green;
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    border: 10px solid black;
}

.green-light-parent:hover{
    background-color: green;
}

#car-container {
    overflow: hidden;
    position: relative;
    height: 50px; /* Adjust based on your needs */
  }